body {
	margin-top: 80px;
	background-color: #ff791a;
	display:flex;
	justify-content: center;
}
a {
	font-family: 'Baloo Tamma', cursive;
	font-size: 20px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	background: #00ff00;
	height: 70px;
	width: 100%;
	font-family: 'Pacifico', cursive;
	font-size: 45px;
	color: purple;
}
.about {
	font-size: 40px;
	text-align: center;
}
.aboutimg {
	display: flex;
	justify-content: center;
}
.back {
	font-size: 40px;
}
.backdiv {
	text-align: center;
}
.title {
	font-family: 'Droid Serif', Cursive;
}
.description {
	font-family: 'Droid Serif', Cursive;
}
#projects {
	display: flex;
	flex-direction: column;
}